
@import './breakpoint';

//component

@import './component/loginButtonBox';
@import './component/singleTab';
@import './component//dasboard-welcome';
@import './component/profile-form';
@import './component/dasboard-profile';
@import './component/student-profile-picture';


html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
};

.form-label{
  font-size: 2rem;
  font-weight: 500!important;
}
.form-control{
  height:4.3rem;
  font-size: 1.7rem!important;
  font-weight: 500!important;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  };
  

a {
  color: inherit;
  text-decoration: none;
};

p{
  font-size: 2rem;
}



html{
  @include media-breakpoint-up('xs'){
    font-size: 47%;
  }
  @include media-breakpoint-up('sm'){
    font-size: 55.25%;
  }
  @include media-breakpoint-up('md'){
    font-size: 60%;
  }
}

